<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Smart Canteen Management System</title>
    <link rel="stylesheet" href="..//public/assets/css/cart.css">
</head>
<header>
    <div class="logo">Welcome to SmartCanteen</div>
    <nav class="nav-links">
        <a href="home.html">Home</a>
        <a href="Registration.html">Registration</a>
        <a href="login.html">Login</a>
        <a href="menu.html">Menu</a>
        <a href="order.html">Order Now </a>
        <a href="cart.html">Cart</a>
        <a href="profile.html">Profile</a>
        <a href="contact.html">Contact Us</a>
        
    </nav>
</header>
    <body>
        <div id="menu"></div>

        <h2>Cart</h2>
        <div id="cart">
            <div id="cart-items"></div>
            <div id="cart-total">
                <span>Total: $<span id="total-price">0</span></span>
            </div>
            <button id="clear-cart" onclick="clearCart()">Clear Cart</button>
        </div>
        
<footer>
    <p>&copy; 2024 SmartCanteen. All rights reserved.</p>
</footer>


<script src="../public/assets/js/cart.js"></script>
</body>
</html>
