// header.pug
header
  .logo Welcome to SmartCanteen
  nav.nav-links
    a(href="/") Home
    a(href="/registration") Registration
    a(href="/login") Login
    a(href="/menu") Menu
    a(href="/order") Order Now
    a(href="/cart") Cart
    a(href="/contact") Contact Us
