<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Canteen Management System</title>

    <link rel="stylesheet" href="../public/assets/css/home.css">
</head>

<body>
    

<header>
    <div class="logo">Welcome to SmartCanteen</div>
    <nav class="nav-links">
        <a href="home.html">Home</a>
        <a href="Registration.html">Registration</a>
        <a href="login.html">Login</a>
        <a href="menu.html">Menu</a>
        <a href="order.html">Order Now</a>
        <a href="cart.html">Cart</a>
        <a href="profile.html">Profile</a>
        <a href="contact.html">Contact Us</a>
        
    </nav>
</header>

<img src="../public/assets/img/breakfast/giphy.gif" >

<!-- Sign-in button section -->

<footer>
    <p>Contact Us | Privacy Policy | Terms of Service</p>
    <p>&copy; 2024 SmartCanteen. All rights reserved.</p>
</footer>

</body>
</html>
