doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Smart Canteen Management System
    link(rel="stylesheet" href="../public/assets/css/style.css")
    block styles
  body
    header
      div.logo Welcome to SmartCanteen
      nav.nav-links
        a(href="home.html") Home
        a(href="Registration.html") Registration
        a(href="login.html") Login
        a(href="menu.html") Menu
        a(href="order.html") Order Now
        a(href="cart.html") Cart
        a(href="profile.html") Profile
        a(href="contact.html") Contact Us
    block content

    footer
      div.footer-container
        p &copy; 2024 Translator Website | All Rights Reserved
    script(src="../public/assets/js/script.js")
    block scripts
