<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Canteen Management System</title>
    <link rel="stylesheet" href="..//public/assets/css/menu.css">
</head>
<body>

<header>
    <div class="logo">SmartCanteen</div>
    <nav class="nav-links">
        <a href="home.html">Home</a>
        <a href="Registration.html">Registration</a>
        <a href="login.html">Login</a>
        <a href="menu.html">Menu</a>
        <a href="order.html">Order Now </a>
        <a href="cart.html">Cart</a>
        <a href="profile.html">Profile</a>
        <a href="contact.html">Contact Us</a>
       
    </nav>
</header>
</header>
<body>
    
    <h1>Menu</h1>
    <div id="menu-container">
        <h2>Categories</h2>
        <button onclick="showCategory('breakfast')">Breakfast</button>
        <button onclick="showCategory('lunch')">Lunch</button>
        <button onclick="showCategory('snacks')">Snacks</button>
        <button onclick="showCategory('drinks')">Drinks</button>
        <button onclick="showCategory('all')">Show All</button>

        <div id="menu" class="menu">
            <!-- Menu items will be populated here -->
             
        </div>
    </div>

    <script src="..//public/assets/js/menu.js"></script>

<footer>
    <p>Contact Us | Privacy Policy | Terms of Service</p>
    <p>&copy; 2024 SmartCanteen. All rights reserved.</p>
</footer>

</body>
</html>
